.LoginPopup {
	width: 100%;
	height: 100%;

	background-color: sienna;
	/* opacity: 10%; */
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
	align-items: center;

}

.LoginInputsContainer {
	background-color: aqua;
	opacity: 100%;
	display: flex;
	flex-direction: column;
}